.mws-panel.grid_8
  .mws-panel-header
    %span Vendor
  .mws-panel-body.no-padding
    = simple_form_for([:admins, vendor], :html => {:class => 'form-horizontal' }) do |f|
      .mws-form-inline
        .mws-form-row
          %label.mws-form-label= t(:first_name)
          .mws-form-item
            = f.input :first_name, :label => false
        .mws-form-row
          %label.mws-form-label= t(:last_name)
          .mws-form-item
            = f.input :last_name, :label => false
        .mws-form-row
          %label.mws-form-label= t(:address)
          .mws-form-item
            = f.input :address, :label => false
        .mws-form-row
          %label.mws-form-label= t(:address2)
          .mws-form-item
            = f.input :address2, :label => false
        .mws-form-row
          %label.mws-form-label= t(:city)
          .mws-form-item
            = f.input :city, :label => false
        .mws-form-row
          %label.mws-form-label= t(:state)
          .mws-form-item
            = f.input :state, :as => :select, :collection => us_states, :label => false
        .mws-form-row
          %label.mws-form-label= t(:zip)
          .mws-form-item
            = f.input :zip, :label => false
        .mws-form-row
          %label.mws-form-label= t(:phone_number)
          .mws-form-item
            = f.input :phone_number, :label => false
        .mws-form-row
          %label.mws-form-label= t(:email)
          .mws-form-item
            = f.input :email, :label => false
        .mws-form-row
          %label.mws-form-label= t(:description)
          .mws-form-item
            = f.input :description, :label => false
            %br
            = f.button :submit, :class => 'pull-right btn btn-info'

