= simple_form_for([:admins, expense], :html => {:class => 'form-horizontal' }) do |f|
  - if params[:format]
    = f.input :vendor_id, :as => :hidden, :input_html => {:value => vendor.id }
  -else 
    = f.input :vendor_id, :as => :hidden, :input_html => {:value => expense.vendor.id }
  = f.input :amount
  = f.input :payment_date, :input_html => {:id => 'dp2', :class => 'datepicker'}
  = f.input :payment_type, :collection => vendor_payment_type_list,  :as => :select, :error => false, include_blank: false
  = f.input :pdf_upload
  = f.input :note
  = f.button :submit, :class => 'pull-right btn btn-info'
