= simple_form_for([:admins, vacation], :html => {:class => 'form-horizontal' }) do |f|
  - if params[:format]
    = f.input :girl_id, :as => :hidden, :input_html => {:value => girl.id }
  -else 
    = f.input :girl_id, :as => :hidden, :input_html => {:value => vacation.girl.id }
  .mws-form-row
    %label.mws-form-label= t(:issued_date)
    .mws-form-item
    = f.input :issued_date, :label => false, :input_html => {:id => 'dp2', :class => 'datepicker'}
  .mws-form-row
    %label.mws-form-label= t(:departure_date)
    .mws-form-item
    = f.input :departure_date, :label => false, :input_html => {:id => 'dp2', :class => 'datepicker'}
  .mws-form-row
    %label.mws-form-label= t(:return_date)
    .mws-form-item
    = f.input :return_date, :label => false, :input_html => {:id => 'dp2', :class => 'datepicker'}
  .mws-form-row
    .mws-form-item
    = f.button :submit, :class => 'pull-right btn btn-info'

