.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Girls Stay In Program
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:name)
                  %th= t(:arrival_date)
                  %th= t(:departure_date)
                  %th= t(:reason_for_leaving)
              %tbody
                - girls.each do |g|
                  %tr
                    %td= link_to g.full_name.titleize, admins_girl_path(g)
                    %td= g.arrival_date
                    %td= g.departure_date
                    %td= g.reason_for_leaving

