= provide(:title, 'Girls')
= provide(:page_title, 'Girls')
= provide(:page_icon, 'active-page-icon large-gray-icon dress_blk')

- content_for :pageheader do
  %ul.breadcrumb
    %li
      = link_to admins_dashboard_path do
        %i.icon-home
        =t(:dashboard)
      %span.divider /
    %li.active
      %i.icon-official
      =t(:girls)
  %h1#main-heading
    %span= girl.full_name.titleize

.container-fluid
  .row-fluid
    .grid_1
      = link_to 'Edit Girl', edit_admins_girl_path(girl), :class => 'btn btn-info pull-right'
    .grid_1
      = link_to 'Add Note', new_admins_note_path(girl), :class => 'btn btn-info pull-right'
    .grid_1
      = link_to 'Add Payment', new_admins_payment_path(girl), :class => 'btn btn-info pull-right'
    .grid_1
      = link_to 'Add Drug Test', new_admins_exam_path(girl), :class => 'btn btn-info pull-right'
    .grid_1
      = link_to 'Add Pass', new_admins_vacation_path(girl), :class => 'btn btn-info pull-right'
    .clear
    .grid_12
      %br
      = link_to t(:opportunities_rules), girl.opportunities_rules_url, :class => 'btn btn-info' if girl.opportunities_rules?
      = link_to t(:aa_meeting_sheet), girl.aa_meeting_sheet_url, :class => 'btn btn-info' if girl.aa_meeting_sheet?
      = link_to t(:release_of_liability), girl.release_of_liability_url, :class => 'btn btn-info' if girl.release_of_liability?
      = link_to t(:opportunities_intake_form), girl.opportunities_intake_form_url, :class => 'btn btn-info' if girl.opportunities_intake_form?
      = link_to t(:opportunities_relapse_plan), girl.opportunities_relapse_plan_url, :class => 'btn btn-info' if girl.opportunities_relapse_plan?
      = link_to t(:sober_inc), girl.sober_inc_url , :class => 'btn btn-info' if girl.sober_inc?
    .clear
    .grid_4
      %br
      %strong girl_id
      = girl.id
      %br
      %strong= t(:name)
      = girl.full_name.titleize
      %br
      %strong= t(:ssn)
      = girl.social_security
      %br
      %strong= t(:is_taking_medication)
      = girl.is_taking_medication
      %br
      %strong= t(:list_dosage)
      = girl.list_dosage
      %br
      %strong= t(:clean_date)
      = girl.clean_date
      %br
      %strong= t(:drugs_of_choice)
      = girl.drugs_of_choice
      %br
      %strong= t(:insurance_provider)
      = girl.insurance_provider
      %br
      %strong= t(:group_code)
      = girl.group_code
      %br
      %strong= t(:policy_number)
      = girl.policy_number
    .grid_4
      %br
      = image_tag girl.photo, :class => 'img-polaroid' unless girl.photo.blank?
.clear
.grid_12
.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Payments
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:amount)
                  %th= t(:payment_date)
                  %th= t(:payment_type)
                  %th= t(:payment_method)
                  %th= t(:payment_number)
                  %th= t(:note)
                  %th
                %tbody
                - girl.payments.order("id DESC").each do |p|
                  %tr
                    %td= number_to_currency(p.amount)
                    %td= p.payment_date
                    %td= p.payment_type
                    %td= p.payment_method
                    %td= p.payment_number
                    %td= p.note
                    %td= link_to 'Edit', edit_admins_payment_path(p), :class => 'btn btn-small btn-info'
                %tfoot
                  %tr
                    %th Receive Funds
                    %th
                      - receive_funds = girl.payments.sum(:amount,:conditions=> "payment_type = 'receive_funds'" )
                      = number_to_currency(receive_funds)
                    %th Return Funds
                    %th
                      - return_funds = girl.payments.sum(:amount,:conditions=> "payment_type = 'return_funds'" )
                      = number_to_currency(return_funds)
                    %th Differnce
                    %th= number_to_currency(receive_funds - return_funds)
                    %th

.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Notes
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:note)
                  %th= t(:consequence)
                  %th= t(:by)
              %tbody
                - girl.notes.order("id DESC").each do |n|
                  %tr
                    %td= n.note
                    %td= n.consequence
                    %td= n.admin.full_name.titleize
.clear
.grid_12
.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Drug Tests
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:date_perform)
                  %th= t(:drug_test_results_on_site)
                  %th= t(:drug_test_results_lab)
              %tbody
                - girl.exams.order("id DESC").each do |e|
                  %tr
                    %td= e.date_perform
                    %td= e.drug_test_results_on_site
                    %td= e.drug_test_results_lab
.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Pass
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:issued_date)
                  %th= t(:departure_date)
                  %th= t(:return_date)
                  %th
              %tbody
                - girl.vacations.order("id DESC").each do |v|
                  %tr
                    %td= v.issued_date
                    %td= v.departure_date
                    %td= v.return_date
                    %td= link_to 'Edit', edit_admins_vacation_path(v), :class => 'btn btn-small btn-info'
