#mws-login-wrapper
  #mws-login
    %h1 Login
    .mws-login-lock
      %i.icon-lock
    #mws-login-form
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .mws-form-row
          .mws-form-item
            = f.input :email, input_html: { class: 'mws-login-username required'} , :placeholder => "Email", :label => false
        .mws-form-row
          .mws-form-item
            = f.input :password, input_html: { class: 'mws-login-password required'}, :placeholder => "Password", :label => false
        #mws-login-remember.mws-form-row.mws-inset
          %ul.mws-form-list.inline
            %li
              = f.input :remember_me, :as => :boolean, :label => false if devise_mapping.rememberable?
              %label{:for => "remember"} Remember me
        .mws-form-row
          = f.button :submit, "Login", :class => 'btn btn-success mws-login-button'

