= provide(:title, 'Admins')
= provide(:page_title, 'Admins')
= provide(:page_icon, 'active-page-icon large-gray-icon admin_user_blk')

- content_for :pageheader do
  %ul.breadcrumb
    %li
      = link_to admins_dashboard_path do
        %i.icon-home
        =t(:dashboard)
      %span.divider /
    %li
      = link_to admins_admins_path do
        %i.icon-official
        =t(:admin)
      %span.divider /
    %li.active
      %i.icos-plus 
      =t(:create_account)
  %h1#main-heading
    Create an Admin
    %span Please create a new admin

=render 'form'

