= provide(:title, 'Admins')
= provide(:page_title, 'Admins')
= provide(:page_icon, 'active-page-icon large-gray-icon admin_user_blk')

- content_for :pageheader do
  %ul.breadcrumb
    %li
      %a{:href => "/admins/dashboard"}
        %i.icon-home
        =t(:dashboard)
      %span.divider /
    %li
      %a{:href => "/admins/admins"}
        %i.icon-official
        =t(:admins)
      %span.divider /
    %li.active
      %i.icon-eye-open
      =admin.full_name.titleize
  %h1#main-heading
    Admin: 
    = admin.full_name.titleize
.mws-panel.grid_4
  .mws-panel-header
    = link_to 'Edit', edit_admins_admin_path(admin), :class => 'btn btn-info pull-right'
    %span
      %i.icon-book
      Admin
      = admin.full_name.titleize
  .mws-panel-body.no-padding
    %ul.mws-summary.clearfix
      %li
        %span.key
          id
        %span.val
          %span.text-nowrap= admin.id
      %li
        %span.key
          Name
        %span.val
          %span.text-nowrap= admin.full_name.titleize
      %li
        %span.key
          Status
        %span.val
          %span.text-nowrap
            -if admin.active
              %span{:class=> 'label label-success'}
                =t(:active)
            - else
              %span{:class=> 'label label-important'}
                =t(:inactive)
      %li
        %span.key
          phone
        %span.val
          %span.text-nowrap= admin.phone
      %li
        %span.key
          photo
        %span.val
          %span.text-nowrap= image_tag admin.photo, :class => 'img-circle' if admin.photo?
      %li
        %span.key
          Sign in count
        %span.val
          %span.text-nowrap= admin.sign_in_count
