- content_for :pageheader do
  %ul.breadcrumb
    %li
      %a{:href => "/admins/dashboard"}
        %i.icon-home
        =t(:dashboard)
      %span.divider /
    %li.active
      %i.icon-edit
      =t(:edit_profile)
  %h1#main-heading
    =t(:update_your_profile)
= simple_form_for(admin, :url => admins_profile_path(admin), :html => {:class => 'form-horizontal' }) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, :class => 'pull-right'
