!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Viewport Metatag
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    / Plugin Stylesheets first to ease overrides
    = javascript_include_tag 'jquery_ujs'
    %script{:src => "/js/rails.js"}
    %link{:href => "/assets/admin2/plugins/colorpicker/colorpicker.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Required Stylesheets
    %link{:href => "/assets/admin/bootstrap-responsive.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/bootstrap/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/fonts/ptsans/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/fonts/icomoon/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/mws-style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/icons/icol16.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/icons/icol32.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Demo Stylesheet
    %link{:href => "/assets/admin2/demo.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / jQuery-UI Stylesheet
    %link{:href => "/assets/admin2/jui/css/jquery.ui.all.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/jui/css/jquery.ui.timepicker.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/jui/jquery-ui.custom.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Theme Stylesheet
    %link{:href => "/assets/admin2/mws-theme.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/themer.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %title MWS Admin - Table

    / Plugin Stylesheets first to ease overrides
    %link{:href => "/assets/admin2/plugins/imgareaselect/css/imgareaselect-default.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/admin2/plugins/jgrowl/jquery.jgrowl.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / Required Stylesheets
  %body
    / Themer (Remove if not needed)
    -#mws-themer
      #mws-themer-content
        #mws-themer-ribbon
        #mws-themer-toggle
          %i.icon-bended-arrow-left
          %i.icon-bended-arrow-right
        #mws-theme-presets-container.mws-themer-section
          %label{:for => "mws-theme-presets"} Color Presets
        .mws-themer-separator
        #mws-theme-pattern-container.mws-themer-section
          %label{:for => "mws-theme-patterns"} Background
        .mws-themer-separator
        .mws-themer-section
          %ul
            %li.clearfix
              %span Base Color
              #mws-base-cp.mws-cp-trigger
            %li.clearfix
              %span Highlight Color
              #mws-highlight-cp.mws-cp-trigger
            %li.clearfix
              %span Text Color
              #mws-text-cp.mws-cp-trigger
            %li.clearfix
              %span Text Glow Color
              #mws-textglow-cp.mws-cp-trigger
            %li.clearfix
              %span Text Glow Opacity
              #mws-textglow-op
        .mws-themer-separator
        .mws-themer-section
          %button#mws-themer-getcss.btn.btn-danger.small Get CSS
      #mws-themer-css-dialog
        %form.mws-form
          .mws-form-row
            .mws-form-item
              %textarea{:cols => "auto", :readonly => "readonly", :rows => "auto"}
    / Themer End
    / Header
    #mws-header.clearfix
      / Logo Container
      #mws-logo-container
        / Logo Wrapper, images put within this wrapper will always be vertically centered
        #mws-logo-wrap
          .visible-desktop
            %img{:alt => "S4W admin", :src => "/assets/admin/sfw_logo.png"}/
          .visible-tablet
            %img{:alt => "S4W admin", :src => "/assets/admin/sfw_logo.png"}/
      / User Tools (notifications, logout, profile, change password)
      #mws-user-tools.clearfix
        / Notifications
        -##mws-user-notif.mws-dropdown-menu
          %a.mws-dropdown-trigger{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-exclamation-sign
          / Unread notification count
          %span.mws-dropdown-notif 35
          / Notifications dropdown
          .mws-dropdown-box
            .mws-dropdown-content
              %ul.mws-notifications
                %li.read
                  %a{:href => "#"}
                    %span.message
                      Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                    %span.time
                      January 21, 2012
                %li.read
                  %a{:href => "#"}
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
                %li.unread
                  %a{:href => "#"}
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
                %li.unread
                  %a{:href => "#"}
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
              .mws-dropdown-viewall
                %a{:href => "#"} View All Notifications
        / Messages
        -##mws-user-message.mws-dropdown-menu
          %a.mws-dropdown-trigger{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-envelope
          / Unred messages count
          %span.mws-dropdown-notif 35
          / Messages dropdown
          .mws-dropdown-box
            .mws-dropdown-content
              %ul.mws-messages
                %li.read
                  %a{:href => "#"}
                    %span.sender John Doe
                    %span.message
                      Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                    %span.time
                      January 21, 2012
                %li.read
                  %a{:href => "#"}
                    %span.sender John Doe
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
                %li.unread
                  %a{:href => "#"}
                    %span.sender John Doe
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
                %li.unread
                  %a{:href => "#"}
                    %span.sender John Doe
                    %span.message
                      Lorem ipsum dolor sit amet
                    %span.time
                      January 21, 2012
              .mws-dropdown-viewall
                %a{:href => "#"} View All Messages
        / User Information and functions section
        #mws-user-info.mws-inset
          / User Photo
          #mws-user-photo
            -if current_admin.photo?
              = image_tag current_admin.photo
            -else
              %img{:alt => "User Photo", :src => "/assets/admin2/example/profile.jpg"}/
          / Username and Functions
          #mws-user-functions
            #mws-username
              Hello,
              = current_admin.full_name.titleize
            %ul
              %li
                %a{:href => '/admins/profile/' + current_admin.id.to_s + '/edit'}
                  Profile
              %li
                = link_to 'Logout', destroy_admin_session_path, :method => :delete
    / Start Main Wrapper
    #mws-wrapper
      / Necessary markup, do not remove
      #mws-sidebar-stitch
      #mws-sidebar-bg
      / Sidebar Wrapper
      #mws-sidebar
        / Hidden Nav Collapse Button
        #mws-nav-collapse
          %span
          %span
          %span
        / Searchbox
        #mws-searchbox.mws-inset
          .visible-phone
            %img{:alt => "S4W admin", :src => "/assets/admin/sfw_logo.png"}/
          -#%form{:action => "typography.html"}
            %input.mws-search-input{:placeholder => "Search...", :type => "text"}/
            %button.mws-search-submit{:type => "submit"}
              %i.icon-search
        / Main Navigation
        #mws-navigation
          %ul
            %li{ :class => "#{'active' if params[:controller] == 'admins/dashboards'}" }
              = link_to admins_dashboard_path do
                %i.icol32-speedometer
                Dashboard
            %li{ :class => "#{'active' if params[:controller] == 'admins/admins'}" }
              = link_to admins_admins_path do
                %i.icol32-premium-support
                Admins
            %li{ :class => "#{'active' if params[:controller] == 'admins/girls'}" }
              = link_to admins_girls_path do
                %i.icol32-female
                Girls 
            %li{ :class => "#{'active' if params[:controller] == 'admins/vendors'}" }
              = link_to admins_vendors_path do
                %i.icol32-share
                Vendors
            %li{ :class => "#{'active' if params[:controller] == 'admins/leads'}" }
              = link_to admins_prospects_path do
                %i.icol32-reseller-programm
                Leads
            %li{ :class => "#{'active' if params[:controller] == 'admins/messages'}" }
              = link_to new_admins_message_path do
                %i.icol32-qip-angry
                Message
          -#%ul
            %li
              %a{:href => "dashboard.html"}
                %i.icon-home
                Dashboard
            %li
              %a{:href => "charts.html"}
                %i.icon-graph
                Charts
            %li
              %a{:href => "calendar.html"}
                %i.icon-calendar
                Calendar
            %li
              %a{:href => "files.html"}
                %i.icon-folder-closed
                File Manager
            %li.active
              %a{:href => "table.html"}
                %i.icon-table
                Table
            %li
              %a{:href => "#"}
                %i.icon-list
                Forms
              %ul
                %li
                  %a{:href => "form_layouts.html"} Layouts
                %li
                  %a{:href => "form_elements.html"} Elements
                %li
                  %a{:href => "form_wizard.html"} Wizard
            %li
              %a{:href => "widgets.html"}
                %i.icon-cogs
                Widgets
            %li
              %a{:href => "typography.html"}
                %i.icon-font
                Typography
            %li
              %a{:href => "grids.html"}
                %i.icon-th
                Grids & Panels
            %li
              %a{:href => "gallery.html"}
                %i.icon-pictures
                Gallery
            %li
              %a{:href => "error.html"}
                %i.icon-warning-sign
                Error Page
            %li
              %a{:href => "icons.html"}
                %i.icon-pacman
                Icons
                %span.mws-nav-tooltip 2000+
      / Main Container Start
      #mws-container.clearfix
        / Inner Container Start
        .container
          = yield :pageheader
          = yield
          / Panels End
        / Inner Container End
        / Footer
        #mws-footer
          Copyright Sobriety For Women 2012 - 2013 All Rights Reserved.
      / Main Container End
    / JavaScript Plugins
    %script{:src => "/assets/admin2/libs/jquery-1.8.3.min.js"}
    %script{:src => "/assets/admin2/libs/jquery.mousewheel.min.js"}
    %script{:src => "/assets/admin2/libs/jquery.placeholder.min.js"}
    %script{:src => "/assets/admin2/custom-plugins/fileinput.js"}
    / jQuery-UI Dependent Scripts
    %script{:src => "/assets/admin2/jui/js/jquery-ui-1.9.2.min.js"}
    %script{:src => "/assets/admin2/jui/jquery-ui.custom.min.js"}
    %script{:src => "/assets/admin2/jui/js/jquery.ui.touch-punch.js"}
    %script{:src => "/assets/admin2/jui/js/timepicker/jquery-ui-timepicker.min.js"}
    / Plugin Scripts
    %script{:src => "/assets/admin2/plugins/datatables/jquery.dataTables.min.js"}
    %script{:src => "/assets/admin2/plugins/colorpicker/colorpicker-min.js"}
    / Core Script
    %script{:src => "/assets/admin2/bootstrap/js/bootstrap.min.js"}
    %script{:src => "/assets/admin2/core/mws.js"}
    / Themer Script (Remove if not needed)
    %script{:src => "/assets/admin2/core/themer.js"}
    / Demo Scripts (remove if not needed)
    %script{:src => "/assets/admin2/demo/demo.table.js"}
    %script{:src => "/assets/admin2/demo/demo.widget.js"}

    / JavaScript Plugins
    %script{:src => "/assets/admin2/plugins/imgareaselect/jquery.imgareaselect.min.js"}
    %script{:src => "/assets/admin2/plugins/jgrowl/jquery.jgrowl-min.js"}
    %script{:src => "/assets/admin2/plugins/validate/jquery.validate-min.js"}
    %script{:src => "/assets/admin2/plugins/colorpicker/colorpicker-min.js"}
    / Core Script
