= provide(:title, 'Home')
= provide(:page_title, 'Home')
= provide(:page_icon, 'active-page-icon large-gray-icon home_blk')




.mws-stat-container.clearfix
  #Girls
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-female
    %span.mws-stat-content
      %span.mws-stat-title Total Girls
      %span.mws-stat-value= Girl.count
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-female
    %span.mws-stat-content
      %span.mws-stat-title Active Girls
      %span.mws-stat-value= Girl.where(:active => true).count
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-female
    %span.mws-stat-content
      %span.mws-stat-title Receive Funds
      - receive_funds = Payment.sum(:amount,:conditions=> "payment_type = 'receive_funds'" )
      %span.mws-stat-value= number_to_currency(receive_funds)
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-female
    %span.mws-stat-content
      %span.mws-stat-title Return Funds
      - return_funds = Payment.sum(:amount,:conditions=> "payment_type = 'return_funds'" )
      %span.mws-stat-value= number_to_currency(return_funds)

.mws-stat-container.clearfix
  #vendors
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-share
    %span.mws-stat-content
      %span.mws-stat-title Total Vendors
      %span.mws-stat-value= Vendor.count
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-share
    %span.mws-stat-content
      %span.mws-stat-title Receive Funds
      - receive_funds = Expense.sum(:amount,:conditions=> "payment_type = 'paid'" )
      %span.mws-stat-value= number_to_currency(receive_funds)
  %a.mws-stat{:href => "#"}
    %span.mws-stat-icon.icol32-share
    %span.mws-stat-content
      %span.mws-stat-title Return Funds
      - return_funds = Expense.sum(:amount,:conditions=> "payment_type = 'return'" )
      %span.mws-stat-value= number_to_currency(return_funds)












.mws-panel.grid_4
  .mws-panel-header
    %span
      %i.icon-chart
      Income Expenses
  .mws-panel-body
    .mws-panel-content
      = render 'shared/income_expense_bar_chart'
.mws-panel.grid_4
  .mws-panel-body.no-padding
    %fieldset.mws-form-inline
      .mws-form-row.bordered
        .mws-panel.grid_8
          .mws-panel-header
            %span
              %i.icon-table
              Active Girls in the Systems
          .mws-panel-body.no-padding
            %table.mws-table
              %thead
                %tr
                  %th= t(:name)
                  %th= t(:last_payment_date)
                  %th= t(:arrival_date)
              %tbody
                - girls.where(:active => true).each do |g|
                  %tr
                    %td= link_to g.full_name.titleize, admins_girl_path(g)
                    %td= g.payments.order("id DESC").first.payment_date  if g.payments != []
                    %td= g.arrival_date
.mws-panel.grid_4
  .mws-panel-header
    %span
      %i.icon-chart
      Income Expenses
  .mws-panel-body
    .mws-panel-content
      = render 'shared/income_expense_chart'
= render 'shared/girls_stay_in_program'
